<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mapper.ShoppingcartMapper">
  <resultMap id="BaseResultMap" type="org.pojo.Shoppingcart">
    <id column="cart_id" jdbcType="CHAR" property="cartId" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="b_id" jdbcType="CHAR" property="bId" />
    <result column="u_id" jdbcType="CHAR" property="uId" />
    <result column="sub_total" jdbcType="DECIMAL" property="subTotal" />
    <result column="order_By" jdbcType="INTEGER" property="orderBy" />
    <association property="user" javaType="User">
      <id column="u_id" property="uId" />
  	</association>
  	<collection property="book" javaType="Book">
			<id column="b_id" property="bId"/>
			<result column="price" property="price" />
	</collection>
</resultMap>
  
  <select id="getPrice" parameterType="map" resultType="Double">
      select book.price
      from book
      where book.b_id=#{bid}
  </select>
  
  <update id="update" parameterType="map">
  	update shoppingcart
  	set quantity=#{quantity}, sub_total=#{subtotal}
  	where cart_id=#{cartid}
  </update>
  
   <insert id="addCartItem" parameterType="map">
  	insert into shoppingcart
  		(
  		cart_id,
  		quantity,
  		b_id,
  		u_id
  		)
	values 
		(
		#{cartid},
		#{quantity},
		#{bid},
		#{uid}
		)
  </insert>
  
  <select id="findByUidAndBid" parameterType="map" resultMap="BaseResultMap">
  	select * 
  	from shoppingcart 
  	where u_id=#{uid} and b_id=#{bid}
  </select>
  
  <delete id="delete" parameterType="map">
  	delete from shoppingcart 
  	where shoppingcart.b_id = #{bid} and shoppingcart.u_id = #{uid}
  </delete>
  
  <select id="findByCartId" parameterType="string" resultMap="BaseResultMap">
  	select * 
  	from shoppingcart left join book on shoppingcart.b_id=book.b_id
  	where shoppingcart.cart_id=#{cartid}
  </select>
  
  <select id="findByUid" parameterType="map" resultMap="BaseResultMap">
     select * 
  	from shoppingcart left join user on user.u_id = shoppingcart.u_id
  	where shoppingcart.u_id=#{uid}
  </select>
  
  <sql id="Base_Column_List">
    cart_id, quantity, b_id, u_id, sub_total, order_By
  </sql>
 
</mapper>